/* .text , .activeText{
    transition: opacity 0.2s ease
}
.text h2 , .activeText h2{
    transition: translate 0.9s ease
}
.text h3 , .activeText h3{
    transition: translate 0.6s ease
} */
.slider{
    position: relative;
    background-color: white;
    overflow-x: hidden;
    height: 100%;
}
.carouselContainer{
    position: relative;
    width: 80%;
    height: 300px;
    left: 10%;
    top: 100px;
    margin-bottom: 5em;
}
.text{
    position: absolute;
    left: -30px;
    top: 20%;
    z-index: 9;
}
.text h2{
    opacity: 0;
}
.text h3{
    opacity: 0;
}
/* .text h2,.text h3{
    transform: translateX(-50px)
}
.activeText h2 , .activeText h3{
   transform: translateX(0)
} */
.carouselContainer h2{
    font-size: 25px;
    font-family: Poppins;
    font-weight: normal;
    text-transform: capitalize;
    letter-spacing: 2px
}
.carouselContainer h3{
    font-size: 7px;
    font-family: Nunito;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px
}
.activeText h2{
    animation: fadeInRight 2s  0.5s forwards;
}
.activeText h3{
    animation: fadeInRight 2s  0.9s forwards;
}
@media only screen and (min-width:768px){
    .carouselContainer{
        height: 500px;
    }
    .text{
        left: -30px;
        top: 20%;
        z-index: 9;
    }
    .carouselContainer h2{
        font-size: 40px;
        font-family: Poppins;
        font-weight: normal;
        text-transform: capitalize;
        letter-spacing: 2px
    }
    .carouselContainer h3{
        font-size: 14px;
        font-family: Nunito;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 4px
    }
}
@media only screen and (min-width:1200px){
    .carouselContainer{
        width: 900px;
        height: 600px;
        left: 200px;
    }
    .text{
        position: absolute;
        left: -60px;
        top: 30%;
        z-index: 9;
    }
    .carouselContainer h2{
        font-size: 70px;
        font-family: Poppins;
        font-weight: normal;
        text-transform: capitalize;
        letter-spacing: 2px
    }
    .carouselContainer h3{
        font-size: 14px;
        font-family: Nunito;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 4px
    }
}


@-webkit-keyframes fadeInRight {
    0% {
       opacity: 0;
       -webkit-transform: translateX(20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
 }
 @keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }