.slider{
    width: 80%;
    height: 300px;
    position: relative;
    background-color: white;
    overflow-x: hidden;
    left: 10%;
    top: 100px;
}
@media only screen and (min-width:768px){
    .slider{
        width: 80%;
        height: 500px;
        position: relative;
        background-color: white;
        overflow-x: hidden;
        left: 10%;
    }
}
@media only screen and (min-width:1200px){
    .slider{
        width: 900px;
        height: 600px;
        position: relative;
        background-color: white;
        overflow-x: hidden;
        left: 200px;
    }
}