.circle img , .circle , .card , .productImage , .overlay{
    transition: all 0.5s ease
}
.card{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}
.productImage{
    width: 100%; 
    object-fit: cover;
    height: 100%;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(180,211,211, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
}
.text{
    text-align: center;
    padding-bottom: 1em;
}

.circle{
    position: absolute;
    top: 1em;
    right: 1em;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0)
}
.circle img{
    width: 10px;
    transform: rotate(-270deg);
}

.card h3{
    font-family: Poppins,sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-transform: capitalize
}
.card p{
    font-family: Nunito,sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card:hover .circle img{
    transform: rotate(0deg)
}

.card:hover .circle{
    transform: scale(1);
}
.card:hover .overlay{
    opacity: 1;
}
/* .active{
   position: fixed;
   left: 0;
   top: 0;
   width: 50vw;
   height: 100vh;
   z-index: 99;
   background-color: white
} */

/*================ FULL CARD STYLING ================*/
.fullCard{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: #f1f1f1;
    overflow: auto !important;
    scroll-behavior: smooth;
}
.imgContainer{
    overflow: auto !important;
    width: 100%;
    display: flex;
    align-items: flex-start;
    height: auto;
    flex-direction: column;
    position: relative;
    box-sizing: border-box
}
.imgContainer img{
    width: 50%;
    flex-shrink: 0;
    margin: 2em 0 0 0;
    box-sizing: border-box
   /* border: 5px solid #b4d3d3*/
}
.fullCard::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
.fullCard::-webkit-scrollbar-thumb {
    background: #FF0000;
}
/* .btn{
    position: absolute;
    right: 2em;
    top: 2em;
    z-index: 2;
    background-color: #3D3B30;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(61,59,48,0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(61,59,48,0.3);
    box-shadow: 0px 0px 10px 0px rgba(61,59,48,0.3);
    cursor: pointer;
} */
.btn {
    position: absolute;
    right: 2em;
    top: 2em;
    color: #3D3B30;
    text-transform: uppercase;
    font-family: Nunito;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
}
.btn span{
    font-size: 0.9em;
    padding-left: 0.5em;
    transition: all 0.5s ease
}
.btn:hover span{
    position: relative;
    left: 1em;
}
/*============== information in details page ==============*/
.productDetails{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    padding-left: 4%;
    box-sizing: border-box;
}

@keyframes moveIn{
    0%{}
    100%{
        transform: scale(1);
    }
}